<header id="home">
  <div class="leftSection withImage">
    <img src="./assets/img/header-img.png" alt="Header image">
  </div>
  <div class="midleSection header">
    <div class="arrow">
      <a href="#section1"><span></span></a>
    </div>
  </div>
  <div class="rightSection header">
    <div class="textWrap">
      <h2>Istoria orașului</h2>
      <h1><em>CLUJ</em>-NAPOCA</h1>
      <div class="separator">
        <span></span>
      </div>
      <p>O scurtă aventură în istoria unuia dintre cele mai frumoase orașe din <em>România.</em> </p>
    </div>
  </div>
</header>
