<section  class="img-right" id="section1">
  <div class="leftSection withText">
    <div class="text-wrap">
      <h2>NEOLITIC</h2>
      <div class="separator">
        <span></span>
      </div>
      <p>Cultura Stracevo-Criș.</p>
    </div>
  </div>
  <div class="midleSection article">
    <div class="arrow arrowUp">
      <a href="#home"><span></span></a>
    </div>
    <div class="yearWrap">
      <h2>55 00</h2>
      <h3> î.e.n.</h3>
    </div>
    <div class="arrow">
      <a href="#section1"><span></span></a>
    </div>
  </div>
  <div class="rightSection article">
    <div class="img-right"></div>
    <p>	&nbsp;&nbsp;&nbsp;&nbsp;Cea mai veche așezare umană din zona Clujului datează din neolitic. Aceasta a fost descoperită la <em>Gura Baciului</em>, lângă Suceag, în valea unui pârâu afluent al Nadășului și în apropierea dealului Hoia.</br>&nbsp;&nbsp;&nbsp;&nbsp;Așezarea este datată pe la <em>6.000-5.500 î.e.n</em>., fiind de altfel cea mai veche așezare umană descoperită în Transilvania. Descoperirea arheologică face parte din cultura Starčevo-Criș.</p>
    <div class="readMore">
      <div class="separator">
        <span></span>
      </div>
      <a href="">Citește mai mult</a>
    </div>
  </div>
</section>
