<section id="section2">
  <div class="leftSection withImage">
    <img src="./assets/img/section2-img.png" alt="Section2 image">
  </div>
  <div class="midleSection article">
    <div class="arrow arrowUp">
      <a href="#section1"><span></span></a>
    </div>
    <div class="yearWrap">
      <h2>25 00</h2>
      <h3> î.e.n.</h3>
    </div>
    <div class="arrow">
      <a href=""><span></span></a>
    </div>
  </div>
  <div class="rightSection article">
    <div class="text-wrap">
      <h2>PERIOADA PREROMANĂ</h2>
      <div class="separator">
        <span></span>
      </div>
      <p>Traco-daci și celți</p>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Locuirea în zonă a continuat cu intermitențe în epoca bronzului și a fierului, de atunci existând urme ale <em>traco-dacilor și celților.</br></em>&nbsp;&nbsp;&nbsp;&nbsp;Pe măsura dezvoltării unei economii bazate pe creșterea vitelor mari în Câmpia Pannoniei, a sporit importanța comerțului cu sare dinspre Câmpia Transilvaniei. Două căi majore, una nord-sud și alta est-vest se încrucișau în dreptul vadului de sub promontoriul de deal, numit azi <em>Cetățuie.</em></p>
    <div class="readMore">
      <div class="separator">
        <span></span>
      </div>
      <a href="">Citește mai mult</a>
    </div>
  </div>
</section>
