header
  height: 500px
  display: flex

  div
    display: inline-block

  .leftSection
    position: relative
    display: flex
    width: 35%
    height: 100%


    img
      position: absolute
      right: 0
      max-width: 100%

  .midleSection
    display: flex
    align-items: flex-end
    justify-content: space-around
    width: 15%
    height: 100%
    background-color: $myRed

    .arrowDown
      position: relative
      display: block
      margin-bottom: 30px

      span, span:before
        position: relative
        content: ""
        display: block
        height: 3px
        width: 25px
        background-color: white
        transform: rotate(45deg)
        left: -10px

      span:before
        transform: rotate(90deg)
        left: 14px
        top: -14px

      a:hover
        span, span:before
          background-color: black



  .rightSection
    position: relative
    display: flex
    align-items: center
    width: 50%
    height: 100%

    .textWrap
      position: absolute
      left: -165px
      text-align: right
      h2
        font-size: 47px
        font-weight: 300
        margin: 0px 0px -15px 0px
      h1
        font-size: 80px
        font-weight: 300
        margin: 0
        em
          color: white
          font-style: normal
      p
        float: right
        max-width: 300px
        font-size: 23px
        line-height: 1.0
        margin-top: 20px
        em
          color: $myRed
          font-style: normal

      .separator
        position: absolute
        right: -25px
        top: 125px

        span, span:before, span:after
          content: ""
          display: block
          height: 6px
          width: 60px
          background-color: $myRed
          position: relative

        span:before
          transform: rotate(90deg)
          top: -33px
          left: 33px

        span:after
          transform: rotate(90deg)
          top: 27px
          left: 33px




  @media (max-width: 720px)
    .leftSection
      align-items: center

    .rightSection
      .textWrap
        left: -92px

        h2
          margin-bottom: -10px
          font-size: 26px
        h1
          font-size: 45px

        p
          max-width: 180px
          font-size: 16px
          margin-top: 15px

        .separator
          right: -10px
          top: 70px

          span, span:before, span:after
            height: 4px
            width: 40px

          span:before
            top: -22px
            left: 22px

          span:after
            top: 18px
            left: 22px
