<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="../../../../assets/img/favicon.png" />
      <link rel="stylesheet" href="../../../../assets/css/main.css">
  </head>
  <body>
    <div class="back">
      <div class="arrow arrowLeft">
        <a href="http://localhost:4000/#{{page.sectionName}}"><span></span></a>
      </div>
    </div>
    <div class="section-blog">
      <div class="text-wrap">
        <h2>{{ page.title }}</h2>
        <div class="separator">
          <span></span>
        </div>
        <p>{{ page.subtitle }}</p>
      </div>
      {{ content }}
    </div>
    <div class="blog-footer">
      <div class="footer-text">
        <p>Datele istorice preluate de pe   <a href="https://ro.wikipedia.org/wiki/Pagina_principal%C4%83">ro.wikipedia.org</a></br> Website dezvoltat de
          <a href="mailto:neamtu.bc@gmail.com">neamtu.bc@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
